h1,h2,h3 {
    color: #27aedb;
    text-align: center;
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}

.videoPlayer{
	width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;

}

.logo{
  float:right;
  display: block;
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 5px 5px;

}

.image-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 15px 20px;

}

.button-logout{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-logout:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}


body{
  background-color: #F0F8FF;
  background-repeat: no-repeat;
  background-size: auto;
}

.button-emergency{
    display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;

}

.button-emergency:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}
